/* JobsPage.module.css */

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tableHeader {
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  /* background-color: #f4f4f4; */
}

.tableCell {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tableCell a {
  color: #0070f3;
  text-decoration: none;
}

.tableCell a:hover {
  text-decoration: underline;
}

.table-container {
  overflow-x: auto;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.number {
  margin-right: 8px;
  font-weight: bold;
}

/* New CSS class for applied rows */
.appliedRow {
  background-color: #f0f0f0; /* Light grey for light mode */
}

@media (prefers-color-scheme: dark) {
  .appliedRow {
    background-color: #333; /* Dark grey for dark mode */
  }
}
